creatbing the pandas DataFrame:

In [2]:
import pandas as pd 
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

DataFrame can be created using a sngle list or list of list

In [10]:


# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df.head(n =100)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [13]:
import pandas as pd 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
         'Age':[20, 21, 19, 18]}
df= pd.DataFrabme(data)
df.head()
b

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [25]:
import pandas as pd 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': [" MBA", " BCA", "M.Tech", " MBA"],
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
df.head()

TypeError: 'DataFrame' object is not callable

pandas  Series

Python Pandas Series
Pandas Series is a one-Dimentioanal labled array capble of  holding data of any type(intiger,string,float,python  objects etc)

In [24]:
import pandas as pd 
data  = [1,2,3,4,5,6]
s = pd.Series(data)
# dt = pd.DataFrame(s)
# dt.head()

   0
0  1
1  2
2  3
3  4
4  5

In [33]:
import numpy as np
import pandas as pd 
data = np.array(['a','b','c'])
# data  = pd.Series(data)
data = pd.Series(data)

In [34]:
data

0    a
1    b
2    c
dtype: object

In [35]:
print(type(data))

<class 'pandas.core.series.Series'>

In [37]:
import pandas as pd 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
data_top =data.head()

In [38]:
data_top.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

calling the top and storing new variable

In [40]:
data = data_top.head()

In [41]:
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [47]:
import pandas as pd 
import numpy as np 
n = 10
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
series = data['Team']
top = series.head(n = n)
top

0    Boston Celtics
1    Boston Celtics
2    Boston Celtics
3    Boston Celtics
4    Boston Celtics
5    Boston Celtics
6    Boston Celtics
7    Boston Celtics
8    Boston Celtics
9    Boston Celtics
Name: Team, dtype: object

In [50]:
tail= series.tail(n= n)

In [51]:
tail

448    Utah Jazz
449    Utah Jazz
450    Utah Jazz
451    Utah Jazz
452    Utah Jazz
453    Utah Jazz
454    Utah Jazz
455    Utah Jazz
456    Utah Jazz
457          NaN
Name: Team, dtype: object

In [57]:
include  = ['object','float','int']
data.describe(include = include)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
count,457,457,457.000000,457,457.000000,457,457.000000,373,4.460000e+02
unique,457,30,NaN,5,NaN,18,NaN,118,NaN
top,Montrezl Harrell,New Orleans Pelicans,NaN,SG,NaN,6-9,NaN,Kentucky,NaN
freq,1,19,NaN,102,NaN,59,NaN,22,NaN
mean,NaN,NaN,17.678337,NaN,26.938731,NaN,221.522976,NaN,4.842684e+06
...,...,...,...,...,...,...,...,...,...
min,NaN,NaN,0.000000,NaN,19.000000,NaN,161.000000,NaN,3.088800e+04
25%,NaN,NaN,5.000000,NaN,24.000000,NaN,200.000000,NaN,1.044792e+06
50%,NaN,NaN,13.000000,NaN,26.000000,NaN,220.000000,NaN,2.839073e+06
75%,NaN,NaN,25.000000,NaN,30.000000,NaN,240.000000,NaN,6.500000e+06
max,NaN,NaN,99.000000,NaN,40.000000,NaN,307.000000,NaN,2.500000e+07

In [61]:
desc = data[Name].describe()

NameError: name 'Name' is not defined

In [66]:
desc = data['Name'].describe()

In [68]:
fr = pd.DataFrame(desc)

In [69]:
fr

                    Name
count                457
unique               457
top     Montrezl Harrell
freq                   1

In [72]:
import  pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [80]:
df= pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [87]:
df = df[['Age']]

KeyError: "None of [Index(['Age'], dtype='object')] are in the [index]"

In [89]:


# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name', 'Qualification','Address']])

     Name Qualification    Address
0     Jai           Msc      Delhi
1  Princi            MA     Kanpur
2  Gaurav           MCA  Allahabad
3    Anuj           Phd    Kannauj

In [92]:
print(df[['Name','Qualification','Address']])

     Name Qualification    Address
0     Jai           Msc      Delhi
1  Princi            MA     Kanpur
2  Gaurav           MCA  Allahabad
3    Anuj           Phd    Kannauj

In [100]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
data = pd.read_csv('chicago.csv',index_col = 'Name')

In [105]:
data

,Position Title,Department,Employee Annual Salary
Name,,,
"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
"AARON, JEFFERY M",POLICE OFFICER,POLICE,$84450.00
"AARON, KARINA",POLICE OFFICER,POLICE,$84450.00
"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$89880.00
"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$106836.00
...,...,...,...
"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$87384.00
"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$84450.00
"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$87384.00
"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$113664.00
NaN,NaN,NaN,NaN

In [108]:
first  = data.loc[""AARON, ELVIA J""]

SyntaxError: invalid syntax (<ipython-input-108-6d0fe71e7158>, line 1)

In [109]:
first = df.loc["AARON, ELVIA J"]

KeyError: 'AARON, ELVIA J'

In [120]:
def convert_to_fahrenheit(celsius_tem):
    temp = celsius_tem*1.8
    return temp+32

In [133]:
convert_to_fahrenheit(14)

57.2

In [129]:
s = 'hello'
print(len(s))

SyntaxError: unexpected EOF while parsing (<ipython-input-129-7b6958ae32ab>, line 3)

In [131]:
print(len(s))

5

TypeError: object of type 'int' has no len()

In [144]:
p = "  welcome To python  "
print(p.upper())
print(p.lower())
print(p.swapcase())
p.title()
print(p.capitalize())
print(p.lstrip())
print(p.rstrip())
print(p.rstrip().lstrip().lower())
print(p.rstrip().lstrip().upper())

  WELCOME TO PYTHON
  welcome to python
  WELCOME tO PYTHON
  welcome to python
welcome To python
  welcome To python
welcome to python
WELCOME TO PYTHON

In [146]:
p.strip()#removing the white spaces

'welcome To python'

In [147]:
print(p.replace("p",'C'))

  welcome To Cython

In [148]:
   p.strip().replace("e", "*")

'w*lcom* To python'

In [149]:
p.strip().startswith("Py")

False

In [152]:
p.strip().startswith("w")

True

In [156]:
p.strip().endswith(' on')

False

In [159]:
"To" in p.strip()

True

In [160]:
'to' not in p.strip()

True

In [163]:
'To' not in p.strip()

False

In [164]:
print(p)

  welcome To python

In [165]:
list = [4, 8, 15, 16, 23, 42]

In [166]:
print(list)

[4, 8, 15, 16, 23, 42]

In [167]:
len(list)

6

In [168]:
type(list)

list

In [169]:
list.pop()

42

In [170]:
list

[4, 8, 15, 16, 23]

In [171]:
list.append(45)

In [172]:
list

[4, 8, 15, 16, 23, 45]

In [173]:
'15' in list

False

In [174]:
'1000' in list

False

In [175]:
'2' not in list

True

In [176]:
list

[4, 8, 15, 16, 23, 45]

index postion and slicing

In [177]:
hero = "Spiderman"
hero

'Spiderman'

In [182]:
print(len(hero))
print(hero[0])
print(hero[1])
print(hero[2])
print(hero[-1])
print(hero[-2])

9
S
p
i
n
a

In [183]:
hero[0:1]

'S'

In [184]:
hero[1:4]

'pid'

In [185]:
hero[2:5]

'ide'

In [186]:
hero[::]

'Spiderman'

In [187]:
hero[:3]

'Spi'

In [188]:
hero[0:3]

'Spi'

In [189]:
hero[:-1]

'Spiderma'

In [190]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]
superheroes

['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [191]:
superheroes[0]

'Batman'

In [192]:
superheroes[1]

'Superman'

In [193]:
len(superheroes)

5

In [194]:
superheroes[1:3]

['Superman', 'Wolverine']

## Dictionaries
- A **dictionary** is a mutable, unordered collection of key-value pairs.
- A **key** is a unique identifier for a value.
- A **value** corresponds to the key. The values can contain duplicates.
- Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for **order**.
- Declare a dictionary with a pair of curly braces.
- Write a colon between every key and value.
- Separate each key-value pair with a comma and a space.
- The length of a dictionary is a count of its key-value pairs

In [201]:
menu = { 
    "Filet Mignon": 29.99, 
    "Big Mac": 3.99, 
    "Pizza": 3.99, 
    "Salmon": 29.99 
}

In [203]:
series = pd.Series(menu)

In [204]:
series

Filet Mignon    29.99
Big Mac          3.99
Pizza            3.99
Salmon          29.99
dtype: float64

In [205]:
len(menu)

4

In [212]:
menu['Pizza']

3.99

In [214]:
menu['Salmon']

29.99

In [215]:
print(menu)

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [217]:
menu.pop("Filet Mignon")

29.99

In [218]:
'Pizza' in menu

True

In [219]:
'pizza' in menu

False

In [220]:
'pizza' not in menu

True

In [221]:
3.99  in menu

False

In [222]:
menu

{'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [223]:
29.99 in menu

False

## Classes
- A **class** is a blueprint/template for creating objects.
- A **class** defines the methods/functionalities that objects made from it will have.
- An object is called an **instance** of the class it is made from.
- The act of creating an object from a class is called **instantiation**.
- Every time we've worked with a Python object, it's been "instantiated" from a class.
- In real world terms, a class is the blueprint and the house we build is the instance/object.
- Syntax options like `""` or `[]` or `{}` are shortcuts for instantiation.
- For other classes, we'll need to use `class()` syntax to instantiate an object.
- Much like functions and methods, some class instantiations will require arguments.

In [226]:
import pandas as pd 
pd.Categorical

pandas.core.arrays.categorical.Categorical

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [227]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [228]:
lottery_number = [1,4,5,7,8]

In [229]:
pd.Series(lottery_number)

0    1
1    4
2    5
3    7
4    8
dtype: int64

In [230]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Creating the list object using Dictonary

In [231]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [232]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [238]:
print(prices.sum())
print(prices.product())
print(prices.mean())
print(prices.std())

8.8
18.095480000000006
2.9333333333333336
1.5457791994115246

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [239]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [240]:
adjectives.size

6

In [241]:
adjectives.is_unique

False

In [242]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [248]:
adjectives.is_unique

False

In [249]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [252]:
pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits,weekdays)
pd.DataFrame(fruits,weekdays)

                    0
Monday          Apple
Tuesday        Orange
Wednesday        Plum
Thursday        Grape
Friday      Blueberry
Monday     Watermelon

In [255]:
pd.Series(data = fruits,index= weekdays)
pd.Series(data = weekdays,index = fruits)

Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object

In [258]:
import speech_recognition as sr
import pyttsx3
import datetime
import wikipedia
import webbrowser
import os
import random

# Initialize speech recognition and text-to-speech engines
recognizer = sr.Recognizer()
engine = pyttsx3.init()

# Function to speak text
def speak(text):
    engine.say(text)
    engine.runAndWait()

# Function to recognize speech
def listen():
    with sr.Microphone() as source:
        print("Listening...")
        audio = recognizer.listen(source)

        try:
            print("Recognizing...")
            command = recognizer.recognize_google(audio)
            print(f"You said: {command}")
            return command.lower()
        except sr.UnknownValueError:
            print("Sorry, I didn't understand.")
        except sr.RequestError:
            print("Sorry, the service is unavailable.")
        return ""

# Function to greet the user
def greet():
    hour = datetime.datetime.now().hour
    if 5 <= hour < 12:
        speak("Good morning!")
    elif 12 <= hour < 18:
        speak("Good afternoon!")
    else:
        speak("Good evening!")

# Main function
def virtual_assistant():
    greet()
    speak("How can I assist you today?")

    while True:
        command = listen()

        # Basic commands
        if "hello" in command:
            speak("Hello there!")
        elif "how are you" in command:
            speak("I'm doing well, thank you.")
        elif "time" in command:
            current_time = datetime.datetime.now().strftime("%H:%M")
            speak(f"The current time is {current_time}")

        # Wikipedia search
        elif "wikipedia" in command:
            query = command.replace("wikipedia", "").strip()
            try:
                results = wikipedia.summary(query, sentences=2)
                speak(f"According to Wikipedia, {results}")
            except wikipedia.exceptions.PageError:
                speak("Sorry, I couldn't find any results for that.")
            except wikipedia.exceptions.DisambiguationError:
                speak("There are multiple results for that. Can you please be more specific?")

        # Web browsing
        elif "open" in command:
            website = command.replace("open", "").strip()
            if "youtube" in website:
                webbrowser.open("https://www.youtube.com")
            elif "google" in website:
                webbrowser.open("https://www.google.com")
            else:
                webbrowser.open(f"https://www.{website}.com")

        # Music playback (replace with your music directory)
        elif "play music" in command:
            music_dir = "/path/to/your/music/directory"
            songs = os.listdir(music_dir)
            random_song = os.path.join(music_dir, random.choice(songs))
            os.startfile(random_song)

        # Exit command
        elif "exit" in command or "quit" in command:
            speak("Goodbye!")
            break

        # Command not recognized
        else:
            speak("Sorry, I didn't understand that command.")

# Run the virtual assistant
if __name__ == "__main__":
    virtual_assistant()

ModuleNotFoundError: No module named 'pyttsx3'

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [1]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [2]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [3]:
pokemon1 = pd.read_csv("pokemon.csv")

In [6]:
pokemon1.columns

Index(['Name', 'Type'], dtype='object')

In [7]:
google = pd.read_csv("google_stock_price.csv")

In [8]:
google

            Date       Price
0     2004-08-19    2.490664
1     2004-08-20    2.515820
2     2004-08-23    2.758411
3     2004-08-24    2.770615
4     2004-08-25    2.614201
...          ...         ...
4788  2023-08-28  132.080002
4789  2023-08-29  132.998001
4790  2023-08-30  135.570007
4791  2023-08-31  137.050003
4792  2023-09-01  138.429993

[4793 rows x 2 columns]

In [9]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [10]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [11]:
pokemon.tail()

1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

# ## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [12]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [19]:
pokemon.head()
google.head()
print(len(pokemon))
sorted(google)

1010

[2.47049,
 2.490664,
 2.509095,
 2.514326,
 2.51582,
 2.51582,
 2.530515,
 2.54795,
 2.553678,
 2.557912,
 2.613952,
 2.614201,
 2.622171,
 2.655795,
 2.676219,
 2.692408,
 2.753679,
 2.758411,
 2.770615,
 2.798012,
 2.849818,
 2.912832,
 2.92404,
 2.959906,
 2.977838,
 2.984065,
 3.012209,
 3.021176,
 3.155672,
 3.235373,
 3.257789,
 3.348449,
 3.353929,
 3.368624,
 3.410218,
 3.41221,
 3.425909,
 3.45505,
 3.512086,
 3.566631,
 3.56962,
 3.596519,
 3.60972,
 3.68693,
 3.74845,
 4.096396,
 4.183569,
 4.209721,
 4.211713,
 4.212461,
 4.240356,
 4.241352,
 4.242847,
 4.247579,
 4.250817,
 4.257293,
 4.259036,
 4.288177,
 4.319559,
 4.336247,
 4.354179,
 4.366135,
 4.378588,
 4.383569,
 4.393532,
 4.401004,
 4.402498,
 4.407231,
 4.411714,
 4.420929,
 4.432137,
 4.432635,
 4.433134,
 4.441602,
 4.453557,
 4.461527,
 4.465014,
 4.465014,
 4.480705,
 4.481951,
 4.481951,
 4.492162,
 4.494155,
 4.494404,
 4.499136,
 4.500631,
 4.50088,
 4.508352,
 4.509348,
 4.512586,
 4.525039,
 4.527032,
 4.531515,
 4.531764,
 4.532511,
 4.533009,
 4.550942,
 4.55418,
 4.567131,
 4.580332,
 4.588053,
 4.597268,
 4.613458,
 4.63139,
 4.632636,
 4.635874,
 4.640357,
 4.641104,
 4.649074,
 4.649572,
 4.65007,
 4.66875,
 4.675724,
 4.67697,
 4.693408,
 4.699635,
 4.701378,
 4.701876,
 4.709846,
 4.711092,
 4.711092,
 4.713333,
 4.714579,
 4.715575,
 4.73276,
 4.734753,
 4.748203,
 4.776596,
 4.781328,
 4.784815,
 4.794529,
 4.806235,
 4.806982,
 4.809224,
 4.813707,
 4.814454,
 4.81819,
 4.818688,
 4.820681,
 4.821926,
 4.824168,
 4.824168,
 4.840108,
 4.841353,
 4.844342,
 4.845338,
 4.849324,
 4.858788,
 4.86626,
 4.872238,
 4.881702,
 4.894156,
 4.905613,
 4.916571,
 4.927281,
 4.935999,
 4.944218,
 4.945961,
 4.950943,
 4.953682,
 4.962151,
 4.99179,
 5.000258,
 5.005488,
 5.016198,
 5.097145,
 5.112338,
 5.13052,
 5.142475,
 5.368627,
 5.425165,
 5.429399,
 5.467008,
 5.484941,
 5.525539,
 5.527033,
 5.53052,
 5.551691,
 5.615701,
 5.659537,
 5.678715,
 5.688677,
 5.694157,
 5.702874,
 5.708105,
 5.720558,
 5.742476,
 5.748702,
 5.818441,
 5.986063,
 6.007732,
 6.0563,
 6.294656,
 6.400011,
 6.487184,
 6.499638,
 6.538243,
 6.691917,
 6.706363,
 6.710597,
 6.718069,
 6.721058,
 6.750199,
 6.830896,
 6.846587,
 6.849327,
 6.871992,
 6.876475,
 6.878219,
 6.887434,
 6.913337,
 6.938742,
 6.948954,
 6.969377,
 6.980834,
 6.998518,
 7.004744,
 7.029651,
 7.033387,
 7.037372,
 7.053562,
 7.057547,
 7.060535,
 7.09142,
 7.095405,
 7.111096,
 7.12056,
 7.12056,
 7.121059,
 7.136003,
 7.140237,
 7.142976,
 7.147958,
 7.15792,
 7.173113,
 7.174857,
 7.176102,
 7.178842,
 7.181831,
 7.191295,
 7.19802,
 7.207734,
 7.214708,
 7.217945,
 7.222678,
 7.237373,
 7.245343,
 7.255305,
 7.262777,
 7.267011,
 7.271744,
 7.275231,
 7.276227,
 7.285442,
 7.293911,
 7.30736,
 7.312591,
 7.331022,
 7.343226,
 7.347709,
 7.348456,
 7.357174,
 7.361159,
 7.365144,
 7.378593,
 7.382329,
 7.399764,
 7.404247,
 7.404745,
 7.407485,
 7.409727,
 7.409727,
 7.41147,
 7.414459,
 7.415704,
 7.42218,
 7.423176,
 7.428407,
 7.444596,
 7.450573,
 7.460038,
 7.469502,
 7.471495,
 7.471993,
 7.477473,
 7.482703,
 7.491918,
 7.4969,
 7.502877,
 7.508855,
 7.511097,
 7.51558,
 7.521806,
 7.523052,
 7.524297,
 7.53152,
 7.53426,
 7.546713,
 7.55294,
 7.57162,
 7.572118,
 7.573363,
 7.575854,
 7.576601,
 7.59553,
 7.597024,
 7.601508,
 7.604995,
 7.610723,
 7.625169,
 7.628407,
 7.630648,
 7.63837,
 7.651819,
 7.681458,
 7.685194,
 7.68619,
 7.688432,
 7.689428,
 7.696153,
 7.702131,
 7.702878,
 7.720811,
 7.72106,
 7.72355,
 7.736253,
 7.745717,
 7.75842,
 7.765144,
 7.788058,
 7.79578,
 7.799765,
 7.803501,
 7.811471,
 7.820935,
 7.821931,
 7.824173,
 7.826166,
 7.826166,
 7.833638,
 7.840362,
 7.844347,
 7.87822,
 7.882455,
 7.887934,
 7.908856,
 7.927287,
 7.936253,
 7.957673,
 7.968881,
 7.974609,
 7.995033,
 8.048831,
 8.090923,
 8.119317,
 8.122057,
 8.130774,
 8.131272,
 8.156926,
 8.169379,
 8.177349,
 8.220936,
 8.223178,
 8.226664,
 8.244597,
 8.261036,
 8.287935,
 8.292667,
 8.293414,
 8.296901,
 8.302132,
 8.30786,
 8.326042,
 8.338993,
 8.338993,
 8.397026,
 8.417947,
 8.419691,
 8.438371,
 8.444598,
 8.462032,
 8.467512,
 8.470002,
 8.490924,
 8.491422,
 8.49989,
 8.521808,
 8.52654,
 8.526789,
 8.531771,
 8.532269,
 8.552194,
 8.555432,
 8.562406,
 8.580837,
 8.581335,
 8.585071,
 8.601011,
 8.60948,
 8.612219,
 8.612717,
 8.616702,
 8.624673,
 8.630152,
 8.630401,
 8.633639,
 8.642605,
 8.648583,
 8.682705,
 8.690675,
 8.717325,
 8.717574,
 8.727288,
 8.736503,
 8.795283,
 8.79603,
 8.803004,
 8.808235,
 8.815208,
 8.833141,
 8.848583,
 8.851572,
 8.861535,
 8.87075,
 8.878222,
 8.881709,
 8.891423,
 8.903378,
 8.906118,
 8.94024,
 8.972369,
 9.01496,
 9.019941,
 9.020937,
 9.031149,
 9.048833,
 9.053565,
 9.072992,
 9.078472,
 9.090427,
 9.091423,
 9.106118,
 9.110601,
 9.126791,
 9.140738,
 9.14298,
 9.143229,
 9.144474,
 9.161909,
 9.177102,
 9.1776,
 9.179593,
 9.181087,
 9.203005,
 9.211971,
 9.230651,
 9.245346,
 9.247339,
 9.248584,
 9.252818,
 9.252818,
 9.258049,
 9.261785,
 9.274985,
 9.292171,
 9.297152,
 9.298397,
 9.303628,
 9.310103,
 9.312096,
 9.314587,
 9.317825,
 9.320315,
 9.325047,
 9.326044,
 9.354935,
 9.355184,
 9.363155,
 9.3644,
 9.364649,
 9.369132,
 9.369381,
 9.379344,
 9.382831,
 9.38831,
 9.397277,
 9.398522,
 9.405745,
 9.407987,
 9.417202,
 9.421187,
 9.421685,
 9.423678,
 9.434139,
 9.438622,
 9.441611,
 9.444848,
 9.449332,
 9.453566,
 9.458298,
 9.461287,
 9.46303,
 9.483952,
 9.486941,
 9.48719,
 9.489182,
 9.496156,
 9.501636,
 9.501885,
 9.506866,
 9.508111,
 9.514338,
 9.516829,
 9.52455,
 9.534263,
 9.534761,
 9.538996,
 9.5512,
 9.552694,
 9.557925,
 9.571623,
 9.572619,
 9.57785,
 9.589058,
 9.589556,
 9.591798,
 9.596779,
 9.613217,
 9.614463,
 9.61521,
 9.617451,
 9.6177,
 9.621686,
 9.623678,
 9.629407,
 9.630652,
 9.634886,
 9.648087,
 9.651574,
 9.657551,
 9.663778,
 9.664525,
 9.668759,
 9.672246,
 9.682209,
 9.683703,
 9.689432,
 9.691175,
 9.693417,
 9.701885,
 9.709357,
 9.7111,
 9.713093,
 9.734762,
 9.739992,
 9.740988,
 9.762159,
 9.766393,
 9.768137,
 9.783828,
 9.793292,
 9.794289,
 9.801512,
 9.803753,
 9.815459,
 9.819444,
 9.822682,
 9.8314,
 9.838373,
 9.838871,
 9.838871,
 9.840615,
 9.840864,
 9.841113,
 9.84186,
 9.855559,
 9.857053,
 9.862533,
 9.865522,
 9.868012,
 9.870503,
 9.871748,
 9.879469,
 9.896655,
 9.902882,
 9.917078,
 9.941985,
 9.962159,
 9.962658,
 9.97013,
 9.989557,
 9.994787,
 10.00201,
 10.007489,
 10.00998,
 10.014712,
 10.0314,
 10.032396,
 10.033641,
 10.047838,
 10.048585,
 10.049582,
 10.057801,
 10.062533,
 10.064277,
 10.064775,
 10.06876,
 10.069258,
 10.069756,
 10.077975,
 10.086444,
 10.086693,
 10.090429,
 10.094663,
 10.099644,
 10.101637,
 10.103131,
 10.104874,
 10.115086,
 10.116082,
 10.119569,
 10.124302,
 10.124551,
 10.128287,
 10.130777,
 10.131774,
 10.137004,
 10.138997,
 10.139495,
 10.146469,
 10.148959,
 10.160167,
 10.161662,
 10.166892,
 10.167888,
 10.169632,
 10.170628,
 10.177602,
 10.1781,
 10.178847,
 10.179345,
 10.180342,
 10.186817,
 10.191799,
 10.201263,
 10.205497,
 10.206494,
 10.211724,
 10.211973,
 10.217203,
 10.219943,
 10.23688,
 10.240367,
 10.264277,
 10.271749,
 10.273991,
 10.275734,
 10.30338,
 10.311351,
 10.327042,
 10.328785,
 10.336257,
 10.346469,
 10.347714,
 10.351201,
 10.353194,
 10.365398,
 10.365896,
 10.371625,
 10.384576,
 10.384825,
 10.38607,
 10.387067,
 10.387067,
 10.392795,
 10.416207,
 10.422683,
 10.423679,
 10.426668,
 10.429159,
 10.438623,
 10.443605,
 10.448586,
 10.461787,
 10.466519,
 10.468262,
 10.49815,
 10.498648,
 10.512845,
 10.523555,
 10.526544,
 10.533269,
 10.535261,
 10.539744,
 10.544975,
 10.546469,
 10.553194,
 10.560417,
 10.560417,
 10.565398,
 10.568885,
 10.571874,
 10.572123,
 10.580342,
 10.585822,
 10.591799,
 10.593792,
 10.604751,
 10.609234,
 10.61023,
 10.61023,
 10.611476,
 10.616457,
 10.63165,
 10.643107,
 10.652572,
 10.653568,
 10.654066,
 10.656557,
 10.659545,
 10.659794,
 10.660044,
 10.660044,
 10.673991,
 10.67698,
 10.680716,
 10.681961,
 10.684452,
 10.690679,
 10.701389,
 10.705374,
 10.706868,
 10.715087,
 10.718325,
 10.724054,
 10.733269,
 10.748711,
 10.753942,
 10.753942,
 10.756183,
 10.763406,
 10.764651,
 10.776358,
 10.784577,
 10.790803,
 10.798275,
 10.83439,
 10.841862,
 10.85033,
 10.854564,
 10.860044,
 10.865025,
 10.876233,
 10.884701,
 10.889932,
 10.916831,
 10.91982,
 10.921065,
 10.923556,
 10.926545,
 10.930032,
 10.943979,
 10.94647,
 10.947466,
 10.949708,
 10.958674,
 10.959172,
 10.98383,
 10.98657,
 10.999272,
 11.02393,
 11.025424,
 11.033145,
 11.039372,
 11.03987,
 11.056059,
 11.05855,
 11.068512,
 11.0852,
 11.085947,
 11.086196,
 11.089683,
 11.090679,
 11.090928,
 11.095661,
 11.099646,
 11.103133,
 11.108363,
 11.108363,
 11.109359,
 11.140742,
 11.144727,
 11.144976,
 11.150455,
 11.151701,
 11.154689,
 11.176607,
 11.180592,
 11.192299,
 11.207492,
 11.20799,
 11.210729,
 11.210729,
 11.218201,
 11.231651,
 11.23713,
 11.239372,
 11.24535,
 11.257803,
 11.258301,
 11.271751,
 11.272,
 11.272498,
 11.296408,
 11.299397,
 11.310854,
 11.315088,
 11.331527,
 11.332025,
 11.332523,
 11.33601,
 11.342735,
 11.347716,
 11.348214,
 11.34921,
 11.352946,
 11.352946,
 11.35743,
 11.358924,
 11.370381,
 11.379098,
 11.382585,
 11.386321,
 11.393793,
 11.39479,
 11.396533,
 11.399771,
 11.401265,
 11.407243,
 11.410481,
 11.4319,
 11.433644,
 11.435885,
 11.435885,
 11.437629,
 11.449086,
 11.451826,
 11.457056,
 11.457056,
 11.457056,
 11.460294,
 11.470755,
 11.473993,
 11.481963,
 11.482212,
 11.48271,
 11.486944,
 11.493171,
 11.494416,
 11.499896,
 11.500145,
 11.502635,
 11.503632,
 11.505873,
 11.506869,
 11.50936,
 11.50936,
 11.510605,
 11.513843,
 11.524055,
 11.526297,
 11.526795,
 11.527791,
 11.53327,
 11.542735,
 11.545475,
 11.556683,
 11.557928,
 11.558426,
 11.561166,
 11.563906,
 11.564404,
 11.567144,
 11.569136,
 11.570381,
 11.580593,
 11.586322,
 11.593545,
 11.595039,
 11.606496,
 11.606496,
 11.60799,
 11.609734,
 11.610232,
 11.611975,
 11.616708,
 11.622685,
 11.624429,
 11.632399,
 11.633644,
 11.634391,
 11.64012,
 11.643856,
 11.646098,
 11.655562,
 11.657555,
 11.6588,
 11.659298,
 11.660045,
 11.667517,
 11.667766,
 11.668015,
 11.670755,
 11.672499,
 11.674491,
 11.681216,
 11.68271,
 11.684205,
 11.684454,
 11.684454,
 11.687692,
 11.694416,
 11.699896,
 11.702138,
 11.703632,
 11.706123,
 11.709111,
 11.71484,
 11.716085,
 11.718576,
 11.718825,
 11.719074,
 11.737505,
 11.737754,
 11.738501,
 11.743732,
 11.747219,
 11.752698,
 11.75494,
 11.756683,
 11.759423,
 11.759423,
 11.760668,
 11.761664,
 11.765151,
 11.767393,
 11.76814,
 11.768638,
 11.770631,
 11.774865,
 11.776608,
 11.780344,
 11.780843,
 11.781839,
 11.798775,
 11.799024,
 11.800021,
 11.80027,
 11.800768,
 11.801266,
 11.805749,
 11.818202,
 11.819697,
 11.826173,
 11.828165,
 11.832648,
 11.834392,
 11.849336,
 11.862536,
 11.868016,
 11.874741,
 11.879224,
 11.881216,
 11.881963,
 11.892673,
 11.892922,
 11.901142,
 11.90687,
 11.907866,
 11.914591,
 11.920569,
 11.922561,
 11.924305,
 11.930781,
 11.934018,
 11.937754,
 11.946472,
 11.946721,
 11.947717,
 11.950208,
 11.953944,
 11.953944,
 11.955189,
 11.956932,
 11.95768,
 11.958925,
 11.961416,
 11.964404,
 11.965899,
 11.972126,
 ...]

In [20]:
"car" in "racecar"
2 in [3, 2, 1]

"Bulbasaur" in pokemon
0 in pokemon
5 in pokemon.index

"Bulbasaur" in pokemon.values
"Pikachu" in pokemon.values
"Nonsense" in pokemon.values

False

In [21]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [22]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [26]:
google.sort_values(ascending = True).head()

10    2.470490
0     2.490664
13    2.509095
11    2.514326
1     2.515820
Name: Price, dtype: float64

In [29]:
google.sort_values(ascending  = False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
12        2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

In [31]:
print(pokemon.sort_values())
print(pokemon.sort_values(ascending = False))
print(pokemon.sort_values(ascending = True))

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Name, Length: 1010, dtype: object
717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, Length: 1010, dtype: object
459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Name, Length: 1010, dtype: object

In [33]:
print(pokemon.sort_index())
print(pokemon.sort_index(ascending = True))
pokemon.sort_index(ascending = False)

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object
0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

1009     Iron Leaves
1008    Walking Wake
1007        Miraidon
1006        Koraidon
1005    Iron Valiant
            ...
4         Charmeleon
3         Charmander
2           Venusaur
1            Ivysaur
0          Bulbasaur
Name: Name, Length: 1010, dtype: object

# Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

In [34]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [35]:
pokemon.iloc[0]

'Bulbasaur'

In [36]:
pokemon.iloc[:100]

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
         ...
95       Drowzee
96         Hypno
97        Krabby
98       Kingler
99       Voltorb
Name: Name, Length: 100, dtype: object

In [38]:
pokemon.iloc[100:105:2]

100    Electrode
102    Exeggutor
104      Marowak
Name: Name, dtype: object

In [40]:
pokemon.iloc[200:500]

200         Unown
201     Wobbuffet
202     Girafarig
203        Pineco
204    Forretress
          ...
495       Servine
496     Serperior
497         Tepig
498       Pignite
499        Emboar
Name: Name, Length: 300, dtype: object

# Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

In [41]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [42]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [43]:
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [44]:
pokemon.loc["Bulbasaur"]

'Grass, Poison'

In [45]:
pokemon.iloc[0]

'Grass, Poison'

In [46]:
pokemon.loc["Mewtwo"]
pokemon.loc[["Charizard", "Jolteon", "Meowth"]]

# pokemon.loc["Digimon"]

# pokemon.loc[["Pikachu", "Digimon"]]

Name
Charizard    Fire, Flying
Jolteon          Electric
Meowth             Normal
Name: Type, dtype: object

In [48]:
pokemon.get("Bulbasaur")

'Grass, Poison'

In [49]:
pokemon.get("Jolteon","Meowth")

'Electric'

In [51]:
pokemon.get("Meowth")

'Normal'

# - Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

In [53]:
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [54]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [55]:
pokemon.iloc[0]="AlphaaX"

In [58]:
pokemon.head()

0       AlphaaX
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [63]:
pokemon.iloc[[1, 2, 4]] = ["Firemon", "Flamemon", "Blazemon"]

In [64]:
pokemon.head()

0       AlphaaX
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [65]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [66]:
pokemon.head()

0       AlphaaX
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [67]:
f = pokemon.head().copy()

In [68]:
f.head()

0       AlphaaX
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [69]:
f[0] = "Whatever"

In [70]:
f.head()

0      Whatever
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

# Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [73]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [75]:
print(google.count())
print(google.sum())
print(google.product())
print(google.mean())
print(google.max())
print(google.min())
print(google.median())
print(google.mode())
print(google.std())

4793
192733.129338
inf
40.21137687001872
151.863495
2.47049
26.327717
0    14.719826
1    49.000000
dtype: float64
37.27475294386811

# Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [76]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [79]:
f= google.add(100)

In [80]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [81]:
f.head()

0    102.490664
1    102.515820
2    102.758411
3    102.770615
4    102.614201
Name: Price, dtype: float64

In [83]:
f.sub(100)

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [88]:
print(google.sub(10))
print(google.mul(10))
print(google.div(10))

0        -7.509336
1        -7.484180
2        -7.241589
3        -7.229385
4        -7.385799
           ...
4788    122.080002
4789    122.998001
4790    125.570007
4791    127.050003
4792    128.429993
Name: Price, Length: 4793, dtype: float64
0         24.90664
1         25.15820
2         27.58411
3         27.70615
4         26.14201
           ...
4788    1320.80002
4789    1329.98001
4790    1355.70007
4791    1370.50003
4792    1384.29993
Name: Price, Length: 4793, dtype: float64
0        0.249066
1        0.251582
2        0.275841
3        0.277061
4        0.261420
          ...
4788    13.208000
4789    13.299800
4790    13.557001
4791    13.705000
4792    13.842999
Name: Price, Length: 4793, dtype: float64

# The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

In [89]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [96]:
print(pokemon.value_counts())
print("+++++++++++++++++++++++++++++")
print(pokemon.value_counts(ascending = True))
print(pokemon.value_counts(ascending = True))

Normal                74
Water                 74
Grass                 46
Psychic               39
Fire                  36
                      ..
Rock, Electric         1
Fighting, Electric     1
Psychic, Fire          1
Bug, Ground            1
Dragon, Fire           1
Name: Type, Length: 200, dtype: int64
+++++++++++++++++++++++++++++
Fire, Steel        1
Bug, Dark          1
Flying, Steel      1
Bug, Ghost         1
Ground, Normal     1
                  ..
Fire              36
Psychic           39
Grass             46
Water             74
Normal            74
Name: Type, Length: 200, dtype: int64
Fire, Steel        1
Bug, Dark          1
Flying, Steel      1
Bug, Ghost         1
Ground, Normal     1
                  ..
Fire              36
Psychic           39
Grass             46
Water             74
Normal            74
Name: Type, Length: 200, dtype: int64

# The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

In [97]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [101]:
pokemon.head().apply(len)

0     9
1     7
2     8
3    10
4    10
Name: Name, dtype: int64

In [102]:
def count_of_a(pokemon):
    return pokemon.count('a')

In [103]:
pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

In [104]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [111]:
attack_powers = pd.Series({
    "Grass": 10,
    "Fire": 15,
    "Water": 15,
    "Fairy, Fighting": 20,
    "Grass, Psychic": 50,
    "Bulbasaur":100
})

attack_powers

Grass               10
Fire                15
Water               15
Fairy, Fighting     20
Grass, Psychic      50
Bulbasaur          100
dtype: int64

In [110]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64

In [ ]:
import pandas as pd 
import numpy as np

# Methods and Attributes between Series and DataFrames
- A **DataFrame** is a 2-dimensional table consisting of rows and columns.
- Pandas uses a `NaN` designation for cells that have a missing value. It is short for "not a number". Most operations on `NaN` values will produce `NaN` values.
- Like with a **Series**, Pandas assigns an index position/label to each **DataFrame** row.
- The **DataFrame** and **Series** have common and exclusive methods/attributes.
- The `hasnans` attribute exists only a **Series**. The `columns` attribute exists only on a **DataFrame**.
- Some methods/attributes will return different types of data.
- The `info` method returns a summary of the pandas object.

In [112]:
nba = pd.read_csv("nba.csv")

In [113]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [114]:
s= pd.Series([1,2,3,4,5,6])

In [115]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [120]:
n= 10
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [121]:
print(nba.head(10))
print(nba.tail(n = 100))

                Name           Team Position Height  Weight           College  \
0         Saddiq Bey  Atlanta Hawks        F    6-7   215.0         Villanova
1  Bogdan Bogdanovic  Atlanta Hawks        G    6-5   225.0        Fenerbahce
2        Kobe Bufkin  Atlanta Hawks        G    6-5   195.0          Michigan
3       Clint Capela  Atlanta Hawks        C   6-10   256.0       Elan Chalon
4     Bruno Fernando  Atlanta Hawks      F-C   6-10   240.0          Maryland
5      Trent Forrest  Atlanta Hawks        G    6-4   210.0     Florida State
6         AJ Griffin  Atlanta Hawks        F    6-6   220.0              Duke
7     Mouhamed Gueye  Atlanta Hawks        F   6-11   210.0  Washington State
8    De'Andre Hunter  Atlanta Hawks      F-G    6-8   221.0          Virginia
9      Jalen Johnson  Atlanta Hawks        F    6-8   219.0              Duke

       Salary
0   4556983.0
1  18700000.0
2   4094244.0
3  20616000.0
4   2581522.0
5    508891.0
6   3712920.0
7   1119563.0
8  20089286.0
9   2925360.0
                 Name                Team Position Height  Weight  \
492   Kessler Edwards    Sacramento Kings        F    6-7   203.0
493        Keon Ellis    Sacramento Kings        G    6-3   175.0
494      De'Aaron Fox    Sacramento Kings        G    6-3   185.0
495     Kevin Huerter    Sacramento Kings      G-F    6-7   198.0
496       Colby Jones    Sacramento Kings        G    6-6   207.0
..                ...                 ...      ...    ...     ...
587      Ryan Rollins  Washington Wizards        G    6-3   180.0
588     Landry Shamet  Washington Wizards        G    6-4   190.0
589  Tristan Vukcevic  Washington Wizards        F   6-10   220.0
590      Delon Wright  Washington Wizards        G    6-5   185.0
591               NaN                 NaN      NaN    NaN     NaN

           College      Salary
492     Pepperdine   1927896.0
493        Alabama    559782.0
494       Kentucky  32600060.0
495       Maryland  15669643.0
496         Xavier   2019706.0
..             ...         ...
587         Toledo   1719864.0
588  Wichita State  10250000.0
589    Real Madrid         NaN
590           Utah   8195122.0
591            NaN         NaN

[100 rows x 7 columns]

In [122]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [124]:
nba.index

RangeIndex(start=0, stop=592, step=1)

In [125]:
s.values

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [127]:
 u= nba.values

In [128]:
df = pd.DataFrame(u)

In [129]:
df.head()

                   0              1    2     3      4            5           6
0         Saddiq Bey  Atlanta Hawks    F   6-7  215.0    Villanova   4556983.0
1  Bogdan Bogdanovic  Atlanta Hawks    G   6-5  225.0   Fenerbahce  18700000.0
2        Kobe Bufkin  Atlanta Hawks    G   6-5  195.0     Michigan   4094244.0
3       Clint Capela  Atlanta Hawks    C  6-10  256.0  Elan Chalon  20616000.0
4     Bruno Fernando  Atlanta Hawks  F-C  6-10  240.0     Maryland   2581522.0

In [130]:
s.shape

(6,)

In [131]:
nba.shape

(592, 7)

In [132]:
s.sum()

21

In [133]:
nba.sum()

Weight    1.254220e+05
Salary    4.498861e+09
dtype: float64

In [135]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [137]:
s.info()

AttributeError: 'Series' object has no attribute 'info'

In [138]:
s.dtypes

dtype('int64')

In [139]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [140]:
s.hasnans

False

In [141]:
nba.hasnans

AttributeError: 'DataFrame' object has no attribute 'hasnans'

In [145]:
print(s.axes)
print(s.index)
print(nba.axes)
print(nba.index)

[RangeIndex(start=0, stop=6, step=1)]
RangeIndex(start=0, stop=6, step=1)
[RangeIndex(start=0, stop=592, step=1), Index(['Name', 'Team', 'Position', 'Height', 'Weight', 'College', 'Salary'], dtype='object')]
RangeIndex(start=0, stop=592, step=1)

In [147]:
s.info()

AttributeError: 'Series' object has no attribute 'info'

In [148]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   578 non-null    object
 6   Salary    488 non-null    float64
dtypes: float64(2), object(5)
memory usage: 32.5+ KB

In [149]:
revenue = pd.read_csv("revenue.csv", index_col="Date")
revenue

         New York  Los Angeles  Miami
Date
1/1/26        985          122    499
1/2/26        738          788    534
1/3/26         14           20    933
1/4/26        730          904    885
1/5/26        114           71    253
1/6/26        936          502    497
1/7/26        123          996    115
1/8/26        935          492    886
1/9/26        846          954    823
1/10/26        54          285    216

In [150]:
s = pd.Series([1, 2, 3])
s.sum(axis="index")

6

In [151]:
revenue.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [155]:
print(revenue.sum(axis =1).head(1))#row wise adding 
print(revenue.sum(axis = 0).head(1)) #columns wise adding

Date
1/1/26    1606
dtype: int64
New York    5475
dtype: int64

In [157]:
revenue.sum(axis = "columns").sum()

16250

# Select One Column from a DataFrame
- We can use attribute syntax (`df.column_name`) to select a column from a **DataFrame**. The syntax will not work if the column name has spaces.
- We can also use square bracket syntax (`df["column name"]`) which will work for any column name.
- Pandas extracts a column from a **DataFrame** as a **Series**.
- The **Series** is a view, so changes to the **Series** *will* affect the **DataFrame**.
- Pandas will display a warning if you mutate the **Series**. Use the `copy` method to create a duplicate.

In [158]:
nba = pd.read_csv("nba.csv")
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [161]:
nba.head()
nba.Name

0             Saddiq Bey
1      Bogdan Bogdanovic
2            Kobe Bufkin
3           Clint Capela
4         Bruno Fernando
             ...
587         Ryan Rollins
588        Landry Shamet
589     Tristan Vukcevic
590         Delon Wright
591                  NaN
Name: Name, Length: 592, dtype: object

In [162]:
nba.Salary

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           NaN
590     8195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [164]:
nba.Team
type(nba.Name)

pandas.core.series.Series

In [165]:
nba.head(1)

         Name           Team Position Height  Weight    College     Salary
0  Saddiq Bey  Atlanta Hawks        F    6-7   215.0  Villanova  4556983.0

In [168]:
nba['Name'][0:10]

0           Saddiq Bey
1    Bogdan Bogdanovic
2          Kobe Bufkin
3         Clint Capela
4       Bruno Fernando
5        Trent Forrest
6           AJ Griffin
7       Mouhamed Gueye
8      De'Andre Hunter
9        Jalen Johnson
Name: Name, dtype: object

In [172]:
print(nba.Salary)
print(nba["Salary"])

0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           NaN
590     8195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64
0       4556983.0
1      18700000.0
2       4094244.0
3      20616000.0
4       2581522.0
          ...
587     1719864.0
588    10250000.0
589           NaN
590     8195122.0
591           NaN
Name: Salary, Length: 592, dtype: float64

In [174]:
names = nba["Name"].head().copy()

In [175]:
names

0           Saddiq Bey
1    Bogdan Bogdanovic
2          Kobe Bufkin
3         Clint Capela
4       Bruno Fernando
Name: Name, dtype: object

In [176]:
names.iloc[0] = "welcome"

In [177]:
names.head()

0              welcome
1    Bogdan Bogdanovic
2          Kobe Bufkin
3         Clint Capela
4       Bruno Fernando
Name: Name, dtype: object

In [178]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [179]:
nba["Team"] = "myteam"

In [180]:
nba.head(2)

                Name    Team Position Height  Weight     College      Salary
0         Saddiq Bey  myteam        F    6-7   215.0   Villanova   4556983.0
1  Bogdan Bogdanovic  myteam        G    6-5   225.0  Fenerbahce  18700000.0

In [181]:
nba['Team'].value_counts()

myteam    592
Name: Team, dtype: int64

In [182]:
nba.head()

                Name    Team Position Height  Weight      College      Salary
0         Saddiq Bey  myteam        F    6-7   215.0    Villanova   4556983.0
1  Bogdan Bogdanovic  myteam        G    6-5   225.0   Fenerbahce  18700000.0
2        Kobe Bufkin  myteam        G    6-5   195.0     Michigan   4094244.0
3       Clint Capela  myteam        C   6-10   256.0  Elan Chalon  20616000.0
4     Bruno Fernando  myteam      F-C   6-10   240.0     Maryland   2581522.0

In [184]:
nba["Position"].value_counts(normalize = True)

G      0.392123
F      0.320205
C      0.080479
G-F    0.078767
F-C    0.063356
C-F    0.039384
F-G    0.025685
Name: Position, dtype: float64

# Drop Rows with Missing Values
- Pandas uses a `NaN` designation for cells that have a missing value.
- The `dropna` method deletes rows with missing values. Its default behavior is to remove a row if it has *any* missing values.
- Pass the `how` parameter an argument of "all" to delete rows where all the values are `NaN`.
- The `subset` parameters customizes/limits the columns that pandas will use to drop rows with missing values.

In [185]:
nba.head()

                Name    Team Position Height  Weight      College      Salary
0         Saddiq Bey  myteam        F    6-7   215.0    Villanova   4556983.0
1  Bogdan Bogdanovic  myteam        G    6-5   225.0   Fenerbahce  18700000.0
2        Kobe Bufkin  myteam        G    6-5   195.0     Michigan   4094244.0
3       Clint Capela  myteam        C   6-10   256.0  Elan Chalon  20616000.0
4     Bruno Fernando  myteam      F-C   6-10   240.0     Maryland   2581522.0

In [187]:
nba.dropna().sum()

Name        Saddiq BeyBogdan BogdanovicKobe BufkinClint Ca...
Team        myteammyteammyteammyteammyteammyteammyteammyte...
Position    FGGCF-CGFFF-GFGGGGGF-CGFF-GGG-FGFC-FC-FF-CGGF-...
Height      6-76-56-56-106-106-46-66-116-86-86-66-66-56-06...
Weight                                               102083.0
College     VillanovaFenerbahceMichiganElan ChalonMaryland...
Salary                                           4486546210.0
dtype: object

In [188]:
nba.dropna(how = "all")

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,myteam,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,myteam,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,myteam,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,myteam,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,myteam,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
587,Ryan Rollins,myteam,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,myteam,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,myteam,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,myteam,G,6-5,185.0,Utah,8195122.0
591,NaN,myteam,NaN,NaN,NaN,NaN,NaN

In [189]:
nba.dropna(subset =["College"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,myteam,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,myteam,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,myteam,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,myteam,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,myteam,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,myteam,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,myteam,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,myteam,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,myteam,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,myteam,G,6-5,185.0,Utah,8195122.0

In [190]:
nba.head()

                Name    Team Position Height  Weight      College      Salary
0         Saddiq Bey  myteam        F    6-7   215.0    Villanova   4556983.0
1  Bogdan Bogdanovic  myteam        G    6-5   225.0   Fenerbahce  18700000.0
2        Kobe Bufkin  myteam        G    6-5   195.0     Michigan   4094244.0
3       Clint Capela  myteam        C   6-10   256.0  Elan Chalon  20616000.0
4     Bruno Fernando  myteam      F-C   6-10   240.0     Maryland   2581522.0

In [193]:
nba.dropna(subset = ["College"])

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,myteam,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,myteam,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,myteam,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,myteam,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,myteam,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,myteam,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,myteam,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,myteam,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,myteam,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,myteam,G,6-5,185.0,Utah,8195122.0

In [194]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,NaN
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [195]:
nba.fillna(0)

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [196]:
nba["Salary"] = nba["Salary"].fillna(0)

In [197]:
nba

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0
...,...,...,...,...,...,...,...
586,Jordan Poole,Washington Wizards,G,6-4,194.0,Michigan,27955357.0
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0
588,Landry Shamet,Washington Wizards,G,6-4,190.0,Wichita State,10250000.0
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0
590,Delon Wright,Washington Wizards,G,6-5,185.0,Utah,8195122.0

In [198]:
nba["College"] = nba["College"].fillna(value = "Unknown")

In [203]:
nba["College"]=="Unknown"

0      False
1      False
2      False
3      False
4      False
       ...
586    False
587    False
588    False
589    False
590    False
Name: College, Length: 591, dtype: bool

In [204]:
nba.dtypes

Name         object
Team         object
Position     object
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

# The astype Method II
- The `category` type is ideal for columns with a limited number of unique values.
- The `nunique` method will return a **Series** with the number of unique values in each column.
- With categories, pandas does not create a separate value in memory for each "cell". Rather, the cells point to a single copy for each unique value.

In [205]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0

In [210]:
nba["Team"].nunique()

30

In [211]:
nba["Team"].sum()

'Atlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksAtlanta HawksBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBoston CelticsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsBrooklyn NetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsCharlotte HornetsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsChicago BullsCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersCleveland CavaliersDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDallas MavericksDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDenver NuggetsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsDetroit PistonsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsGolden State WarriorsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsHouston RocketsIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersIndiana PacersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles ClippersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersLos Angeles LakersMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMemphis GrizzliesMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMiami HeatMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMilwaukee BucksMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesMinnesota TimberwolvesNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew Orleans PelicansNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksNew York KnicksOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOklahoma City ThunderOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicOrlando MagicPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhiladelphia 76ersPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPhoenix SunsPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersPortland Trail BlazersSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSacramento KingsSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursSan Antonio SpursToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsToronto RaptorsUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzUtah JazzWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington WizardsWashington Wizards'

In [213]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    object
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   591 non-null    object
 6   Salary    591 non-null    float64
dtypes: float64(2), object(5)
memory usage: 36.9+ KB

In [214]:
print(type(nba["Position"]))

<class 'pandas.core.series.Series'>

In [221]:
nba["Position"] = nba["Position"].astype('category')

In [216]:
nba["Team"] = nba["Team"].astype("category")

In [217]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary,Potion
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,Atlanta Hawks
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,Atlanta Hawks
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244.0,Atlanta Hawks
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,Atlanta Hawks
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,Atlanta Hawks

In [218]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 591 entries, 0 to 590
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      591 non-null    object
 1   Team      591 non-null    category
 2   Position  584 non-null    object
 3   Height    585 non-null    object
 4   Weight    584 non-null    float64
 5   College   591 non-null    object
 6   Salary    591 non-null    float64
 7   Potion    591 non-null    category
dtypes: category(2), float64(2), object(4)
memory usage: 36.0+ KB

In [223]:
nba.sort_values("Name")

,Name,Team,Position,Height,Weight,College,Salary,Potion
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,0.0,Dallas Mavericks
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0,Milwaukee Bucks
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0,Atlanta Hawks
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0,Denver Nuggets
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0,Houston Rockets
...,...,...,...,...,...,...,...,...
515,Zach Collins,San Antonio Spurs,F-C,6-11,250.0,Gonzaga,7700000.0,San Antonio Spurs
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0,Chicago Bulls
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0,Denver Nuggets
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0,Memphis Grizzlies
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0,New Orleans Pelicans

In [227]:
nba.sort_values("Salary",ascending  = "False")
nba.sort_values("Salary",na_position = "first")

,Name,Team,Position,Height,Weight,College,Salary,Potion
359,Willy Hernangomez,New Orleans Pelicans,C-F,6-11,250.0,Cajasol Sevilla,0.0,New Orleans Pelicans
440,Danuel House Jr.,Philadelphia 76ers,F-G,6-6,220.0,Texas A&M,0.0,Philadelphia 76ers
116,Tim Hardaway Jr.,Dallas Mavericks,G-F,6-5,205.0,Michigan,0.0,Dallas Mavericks
434,Ricky Council IV,Philadelphia 76ers,G,6-6,207.0,Arkansas,0.0,Philadelphia 76ers
243,Kenyon Martin Jr.,Los Angeles Clippers,F,6-7,215.0,IMG Academy (FL),0.0,Los Angeles Clippers
...,...,...,...,...,...,...,...,...
261,LeBron James,Los Angeles Lakers,F,6-9,250.0,St. Vincent-St. Mary HS (OH),47607350.0,Los Angeles Lakers
436,Joel Embiid,Philadelphia 76ers,C-F,7-0,280.0,Kansas,47607350.0,Philadelphia 76ers
145,Nikola Jokic,Denver Nuggets,C,6-11,284.0,Mega Basket,47607350.0,Denver Nuggets
461,Kevin Durant,Phoenix Suns,F,6-10,240.0,Texas,47649433.0,Phoenix Suns
175,Stephen Curry,Golden State Warriors,G,6-2,185.0,Davidson,51915615.0,Golden State Warriors

In [231]:
nba.sort_values(["Team","Name"],ascending = False)

,Name,Team,Position,Height,Weight,College,Salary,Potion
573,Xavier Cooks,Washington Wizards,F,6-8,183.0,Winthrop,1719864.0,Washington Wizards
580,Tyus Jones,Washington Wizards,G,6-2,196.0,Duke,14000000.0,Washington Wizards
589,Tristan Vukcevic,Washington Wizards,F,6-10,220.0,Real Madrid,0.0,Washington Wizards
578,Taj Gibson,Washington Wizards,F,6-9,232.0,Southern California,0.0,Washington Wizards
587,Ryan Rollins,Washington Wizards,G,6-3,180.0,Toledo,1719864.0,Washington Wizards
...,...,...,...,...,...,...,...,...
8,De'Andre Hunter,Atlanta Hawks,F-G,6-8,221.0,Virginia,20089286.0,Atlanta Hawks
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000.0,Atlanta Hawks
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522.0,Atlanta Hawks
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000.0,Atlanta Hawks
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0,Atlanta Hawks

In [233]:
nba.sort_values(by= ["Name","Salary"],ascending = False)

,Name,Team,Position,Height,Weight,College,Salary,Potion
370,Zion Williamson,New Orleans Pelicans,F,6-6,284.0,Duke,34005250.0,New Orleans Pelicans
291,Ziaire Williams,Memphis Grizzlies,F,6-9,185.0,Stanford,4810200.0,Memphis Grizzlies
149,Zeke Nnaji,Denver Nuggets,F-C,6-9,240.0,Arizona,4306281.0,Denver Nuggets
83,Zach LaVine,Chicago Bulls,G,6-5,200.0,UCLA,40064220.0,Chicago Bulls
515,Zach Collins,San Antonio Spurs,F-C,6-11,250.0,Gonzaga,7700000.0,San Antonio Spurs
...,...,...,...,...,...,...,...,...
198,Aaron Holiday,Houston Rockets,G,6-0,185.0,UCLA,2346614.0,Houston Rockets
141,Aaron Gordon,Denver Nuggets,F,6-8,235.0,Arizona,22266182.0,Denver Nuggets
6,AJ Griffin,Atlanta Hawks,F,6-6,220.0,Duke,3712920.0,Atlanta Hawks
324,AJ Green,Milwaukee Bucks,G,6-5,190.0,Northern Iowa,1901769.0,Milwaukee Bucks
122,A.J. Lawson,Dallas Mavericks,G,6-6,179.0,South Carolina,0.0,Dallas Mavericks

In [239]:
nba.iloc[0:1]

,Name,Team,Position,Height,Weight,College,Salary,Potion
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983.0,Atlanta Hawks

In [240]:
nba.sort_values(by = ["Position","Name","Salary"],ascending = [False,True])

ValueError: Length of ascending (2) != length of by (3)

In [241]:
nba.sort_values(["Position", "Salary"], ascending=[False, True])

,Name,Team,Position,Height,Weight,College,Salary,Potion
28,Svi Mykhailiuk,Boston Celtics,G-F,6-7,205.0,Kansas,0.0,Boston Celtics
49,Lonnie Walker IV,Brooklyn Nets,G-F,6-4,204.0,Miami,0.0,Brooklyn Nets
116,Tim Hardaway Jr.,Dallas Mavericks,G-F,6-5,205.0,Michigan,0.0,Dallas Mavericks
126,Theo Pinson,Dallas Mavericks,G-F,6-7,212.0,North Carolina,0.0,Dallas Mavericks
178,Andre Iguodala,Golden State Warriors,G-F,6-6,215.0,Arizona,0.0,Golden State Warriors
...,...,...,...,...,...,...,...,...
134,Souley Boum,Denver Nuggets,NaN,NaN,NaN,Unknown,1119563.0,Denver Nuggets
138,Armaan Franklin,Denver Nuggets,NaN,NaN,NaN,Unknown,1119563.0,Denver Nuggets
299,Caleb Daniels,Miami Heat,NaN,NaN,NaN,Unknown,1119563.0,Miami Heat
541,Kevin Obanor,Toronto Raptors,NaN,6-8,235.0,Unknown,1119563.0,Toronto Raptors
564,Nick Ongenda,Utah Jazz,NaN,NaN,NaN,Unknown,1119563.0,Utah Jazz

In [242]:
nba["Salary"]= nba["Salary"].fillna(0).astype(int)

In [243]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary,Potion
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983,Atlanta Hawks
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000,Atlanta Hawks
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244,Atlanta Hawks
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000,Atlanta Hawks
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522,Atlanta Hawks

In [245]:
nba["Salary"].rank()
nba["Salary"].rank(ascending = True)

0      361.0
1      512.0
2      349.0
3      523.0
4      284.0
       ...
586    544.0
587    197.5
588    452.0
589     52.0
590    429.0
Name: Salary, Length: 591, dtype: float64

In [246]:
nba["Salary Rank"] = nba["Salary"].rank(ascending=False).astype(int)

In [247]:
nba["Salary Rank"]

0      231
1       80
2      243
3       69
4      308
      ...
586     48
587    394
588    140
589    540
590    163
Name: Salary Rank, Length: 591, dtype: int32

In [248]:
nba.head()

,Name,Team,Position,Height,Weight,College,Salary,Potion,Salary Rank
0,Saddiq Bey,Atlanta Hawks,F,6-7,215.0,Villanova,4556983,Atlanta Hawks,231
1,Bogdan Bogdanovic,Atlanta Hawks,G,6-5,225.0,Fenerbahce,18700000,Atlanta Hawks,80
2,Kobe Bufkin,Atlanta Hawks,G,6-5,195.0,Michigan,4094244,Atlanta Hawks,243
3,Clint Capela,Atlanta Hawks,C,6-10,256.0,Elan Chalon,20616000,Atlanta Hawks,69
4,Bruno Fernando,Atlanta Hawks,F-C,6-10,240.0,Maryland,2581522,Atlanta Hawks,308