creatbing the pandas DataFrame:

In [2]:
import pandas as pd 
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

DataFrame can be created using a sngle list or list of list

In [10]:


# import pandas as pd
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
df.head(n =100)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [13]:
import pandas as pd 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 
         'Age':[20, 21, 19, 18]}
df= pd.DataFrabme(data)
df.head()
b

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [25]:
import pandas as pd 
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': [" MBA", " BCA", "M.Tech", " MBA"],
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
df.head()

TypeError: 'DataFrame' object is not callable

pandas  Series

Python Pandas Series
Pandas Series is a one-Dimentioanal labled array capble of  holding data of any type(intiger,string,float,python  objects etc)

In [24]:
import pandas as pd 
data  = [1,2,3,4,5,6]
s = pd.Series(data)
# dt = pd.DataFrame(s)
# dt.head()

   0
0  1
1  2
2  3
3  4
4  5

In [33]:
import numpy as np
import pandas as pd 
data = np.array(['a','b','c'])
# data  = pd.Series(data)
data = pd.Series(data)

In [34]:
data

0    a
1    b
2    c
dtype: object

In [35]:
print(type(data))

<class 'pandas.core.series.Series'>

In [37]:
import pandas as pd 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
data_top =data.head()

In [38]:
data_top.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

calling the top and storing new variable

In [40]:
data = data_top.head()

In [41]:
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [47]:
import pandas as pd 
import numpy as np 
n = 10
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
series = data['Team']
top = series.head(n = n)
top

0    Boston Celtics
1    Boston Celtics
2    Boston Celtics
3    Boston Celtics
4    Boston Celtics
5    Boston Celtics
6    Boston Celtics
7    Boston Celtics
8    Boston Celtics
9    Boston Celtics
Name: Team, dtype: object

In [50]:
tail= series.tail(n= n)

In [51]:
tail

448    Utah Jazz
449    Utah Jazz
450    Utah Jazz
451    Utah Jazz
452    Utah Jazz
453    Utah Jazz
454    Utah Jazz
455    Utah Jazz
456    Utah Jazz
457          NaN
Name: Team, dtype: object

In [57]:
include  = ['object','float','int']
data.describe(include = include)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
count,457,457,457.000000,457,457.000000,457,457.000000,373,4.460000e+02
unique,457,30,NaN,5,NaN,18,NaN,118,NaN
top,Montrezl Harrell,New Orleans Pelicans,NaN,SG,NaN,6-9,NaN,Kentucky,NaN
freq,1,19,NaN,102,NaN,59,NaN,22,NaN
mean,NaN,NaN,17.678337,NaN,26.938731,NaN,221.522976,NaN,4.842684e+06
...,...,...,...,...,...,...,...,...,...
min,NaN,NaN,0.000000,NaN,19.000000,NaN,161.000000,NaN,3.088800e+04
25%,NaN,NaN,5.000000,NaN,24.000000,NaN,200.000000,NaN,1.044792e+06
50%,NaN,NaN,13.000000,NaN,26.000000,NaN,220.000000,NaN,2.839073e+06
75%,NaN,NaN,25.000000,NaN,30.000000,NaN,240.000000,NaN,6.500000e+06
max,NaN,NaN,99.000000,NaN,40.000000,NaN,307.000000,NaN,2.500000e+07

In [61]:
desc = data[Name].describe()

NameError: name 'Name' is not defined

In [66]:
desc = data['Name'].describe()

In [68]:
fr = pd.DataFrame(desc)

In [69]:
fr

                    Name
count                457
unique               457
top     Montrezl Harrell
freq                   1

In [72]:
import  pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

In [80]:
df= pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [87]:
df = df[['Age']]

KeyError: "None of [Index(['Age'], dtype='object')] are in the [index]"

In [89]:


# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
print(df[['Name', 'Qualification','Address']])

     Name Qualification    Address
0     Jai           Msc      Delhi
1  Princi            MA     Kanpur
2  Gaurav           MCA  Allahabad
3    Anuj           Phd    Kannauj

In [92]:
print(df[['Name','Qualification','Address']])

     Name Qualification    Address
0     Jai           Msc      Delhi
1  Princi            MA     Kanpur
2  Gaurav           MCA  Allahabad
3    Anuj           Phd    Kannauj

In [100]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
data = pd.read_csv('chicago.csv',index_col = 'Name')

In [105]:
data

,Position Title,Department,Employee Annual Salary
Name,,,
"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
"AARON, JEFFERY M",POLICE OFFICER,POLICE,$84450.00
"AARON, KARINA",POLICE OFFICER,POLICE,$84450.00
"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$89880.00
"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$106836.00
...,...,...,...
"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$87384.00
"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$84450.00
"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$87384.00
"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$113664.00
NaN,NaN,NaN,NaN

In [108]:
first  = data.loc[""AARON, ELVIA J""]

SyntaxError: invalid syntax (<ipython-input-108-6d0fe71e7158>, line 1)

In [109]:
first = df.loc["AARON, ELVIA J"]

KeyError: 'AARON, ELVIA J'

In [120]:
def convert_to_fahrenheit(celsius_tem):
    temp = celsius_tem*1.8
    return temp+32

In [133]:
convert_to_fahrenheit(14)

57.2

In [129]:
s = 'hello'
print(len(s))

SyntaxError: unexpected EOF while parsing (<ipython-input-129-7b6958ae32ab>, line 3)

In [131]:
print(len(s))

5

TypeError: object of type 'int' has no len()

In [144]:
p = "  welcome To python  "
print(p.upper())
print(p.lower())
print(p.swapcase())
p.title()
print(p.capitalize())
print(p.lstrip())
print(p.rstrip())
print(p.rstrip().lstrip().lower())
print(p.rstrip().lstrip().upper())

  WELCOME TO PYTHON
  welcome to python
  WELCOME tO PYTHON
  welcome to python
welcome To python
  welcome To python
welcome to python
WELCOME TO PYTHON

In [146]:
p.strip()#removing the white spaces

'welcome To python'

In [147]:
print(p.replace("p",'C'))

  welcome To Cython

In [148]:
   p.strip().replace("e", "*")

'w*lcom* To python'

In [149]:
p.strip().startswith("Py")

False

In [152]:
p.strip().startswith("w")

True

In [156]:
p.strip().endswith(' on')

False

In [159]:
"To" in p.strip()

True

In [160]:
'to' not in p.strip()

True

In [163]:
'To' not in p.strip()

False

In [164]:
print(p)

  welcome To python

In [165]:
list = [4, 8, 15, 16, 23, 42]

In [166]:
print(list)

[4, 8, 15, 16, 23, 42]

In [167]:
len(list)

6

In [168]:
type(list)

list

In [169]:
list.pop()

42

In [170]:
list

[4, 8, 15, 16, 23]

In [171]:
list.append(45)

In [172]:
list

[4, 8, 15, 16, 23, 45]

In [173]:
'15' in list

False

In [174]:
'1000' in list

False

In [175]:
'2' not in list

True

In [176]:
list

[4, 8, 15, 16, 23, 45]

index postion and slicing

In [177]:
hero = "Spiderman"
hero

'Spiderman'

In [182]:
print(len(hero))
print(hero[0])
print(hero[1])
print(hero[2])
print(hero[-1])
print(hero[-2])

9
S
p
i
n
a

In [183]:
hero[0:1]

'S'

In [184]:
hero[1:4]

'pid'

In [185]:
hero[2:5]

'ide'

In [186]:
hero[::]

'Spiderman'

In [187]:
hero[:3]

'Spi'

In [188]:
hero[0:3]

'Spi'

In [189]:
hero[:-1]

'Spiderma'

In [190]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]
superheroes

['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [191]:
superheroes[0]

'Batman'

In [192]:
superheroes[1]

'Superman'

In [193]:
len(superheroes)

5

In [194]:
superheroes[1:3]

['Superman', 'Wolverine']

## Dictionaries
- A **dictionary** is a mutable, unordered collection of key-value pairs.
- A **key** is a unique identifier for a value.
- A **value** corresponds to the key. The values can contain duplicates.
- Use a dictionary for **association** (i.e., to connect/map two values together). Use a list for **order**.
- Declare a dictionary with a pair of curly braces.
- Write a colon between every key and value.
- Separate each key-value pair with a comma and a space.
- The length of a dictionary is a count of its key-value pairs

In [201]:
menu = { 
    "Filet Mignon": 29.99, 
    "Big Mac": 3.99, 
    "Pizza": 3.99, 
    "Salmon": 29.99 
}

In [203]:
series = pd.Series(menu)

In [204]:
series

Filet Mignon    29.99
Big Mac          3.99
Pizza            3.99
Salmon          29.99
dtype: float64

In [205]:
len(menu)

4

In [212]:
menu['Pizza']

3.99

In [214]:
menu['Salmon']

29.99

In [215]:
print(menu)

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [217]:
menu.pop("Filet Mignon")

29.99

In [218]:
'Pizza' in menu

True

In [219]:
'pizza' in menu

False

In [220]:
'pizza' not in menu

True

In [221]:
3.99  in menu

False

In [222]:
menu

{'Big Mac': 3.99, 'Pizza': 3.99, 'Salmon': 29.99}

In [223]:
29.99 in menu

False

## Classes
- A **class** is a blueprint/template for creating objects.
- A **class** defines the methods/functionalities that objects made from it will have.
- An object is called an **instance** of the class it is made from.
- The act of creating an object from a class is called **instantiation**.
- Every time we've worked with a Python object, it's been "instantiated" from a class.
- In real world terms, a class is the blueprint and the house we build is the instance/object.
- Syntax options like `""` or `[]` or `{}` are shortcuts for instantiation.
- For other classes, we'll need to use `class()` syntax to instantiate an object.
- Much like functions and methods, some class instantiations will require arguments.

In [226]:
import pandas as pd 
pd.Categorical

pandas.core.arrays.categorical.Categorical

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [227]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [228]:
lottery_number = [1,4,5,7,8]

In [229]:
pd.Series(lottery_number)

0    1
1    4
2    5
3    7
4    8
dtype: int64

In [230]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Creating the list object using Dictonary

In [231]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

In [232]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [238]:
print(prices.sum())
print(prices.product())
print(prices.mean())
print(prices.std())

8.8
18.095480000000006
2.9333333333333336
1.5457791994115246

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [239]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [240]:
adjectives.size

6

In [241]:
adjectives.is_unique

False

In [242]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [248]:
adjectives.is_unique

False

In [249]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [252]:
pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits,weekdays)
pd.DataFrame(fruits,weekdays)

                    0
Monday          Apple
Tuesday        Orange
Wednesday        Plum
Thursday        Grape
Friday      Blueberry
Monday     Watermelon

In [255]:
pd.Series(data = fruits,index= weekdays)
pd.Series(data = weekdays,index = fruits)

Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object

In [258]:
import speech_recognition as sr
import pyttsx3
import datetime
import wikipedia
import webbrowser
import os
import random

# Initialize speech recognition and text-to-speech engines
recognizer = sr.Recognizer()
engine = pyttsx3.init()

# Function to speak text
def speak(text):
    engine.say(text)
    engine.runAndWait()

# Function to recognize speech
def listen():
    with sr.Microphone() as source:
        print("Listening...")
        audio = recognizer.listen(source)

        try:
            print("Recognizing...")
            command = recognizer.recognize_google(audio)
            print(f"You said: {command}")
            return command.lower()
        except sr.UnknownValueError:
            print("Sorry, I didn't understand.")
        except sr.RequestError:
            print("Sorry, the service is unavailable.")
        return ""

# Function to greet the user
def greet():
    hour = datetime.datetime.now().hour
    if 5 <= hour < 12:
        speak("Good morning!")
    elif 12 <= hour < 18:
        speak("Good afternoon!")
    else:
        speak("Good evening!")

# Main function
def virtual_assistant():
    greet()
    speak("How can I assist you today?")

    while True:
        command = listen()

        # Basic commands
        if "hello" in command:
            speak("Hello there!")
        elif "how are you" in command:
            speak("I'm doing well, thank you.")
        elif "time" in command:
            current_time = datetime.datetime.now().strftime("%H:%M")
            speak(f"The current time is {current_time}")

        # Wikipedia search
        elif "wikipedia" in command:
            query = command.replace("wikipedia", "").strip()
            try:
                results = wikipedia.summary(query, sentences=2)
                speak(f"According to Wikipedia, {results}")
            except wikipedia.exceptions.PageError:
                speak("Sorry, I couldn't find any results for that.")
            except wikipedia.exceptions.DisambiguationError:
                speak("There are multiple results for that. Can you please be more specific?")

        # Web browsing
        elif "open" in command:
            website = command.replace("open", "").strip()
            if "youtube" in website:
                webbrowser.open("https://www.youtube.com")
            elif "google" in website:
                webbrowser.open("https://www.google.com")
            else:
                webbrowser.open(f"https://www.{website}.com")

        # Music playback (replace with your music directory)
        elif "play music" in command:
            music_dir = "/path/to/your/music/directory"
            songs = os.listdir(music_dir)
            random_song = os.path.join(music_dir, random.choice(songs))
            os.startfile(random_song)

        # Exit command
        elif "exit" in command or "quit" in command:
            speak("Goodbye!")
            break

        # Command not recognized
        else:
            speak("Sorry, I didn't understand that command.")

# Run the virtual assistant
if __name__ == "__main__":
    virtual_assistant()

ModuleNotFoundError: No module named 'pyttsx3'

In [257]:
!pip install pyttsx

Collecting pyttsx
  Downloading pyttsx-1.1.tar.gz (23 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pyttsx
  Building wheel for pyttsx (setup.py): started
  Building wheel for pyttsx (setup.py): finished with status 'done'
  Created wheel for pyttsx: filename=pyttsx-1.1-py3-none-any.whl size=22448 sha256=d4d596b2c55fc5c5f4697a3c3eac1d27524215b50b82551f4a8af290de009db8
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\02\66\0e\4be6349f93be182fe710a3a0cf9f855cee3e96a478944d2b75
Successfully built pyttsx
Installing collected packages: pyttsx
Successfully installed pyttsx-1.1

WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)

In [259]:
!pip install pyttsx3

Collecting pyttsx3
  Downloading pyttsx3-2.90-py3-none-any.whl (39 kB)
Collecting pypiwin32
  Downloading pypiwin32-223-py3-none-any.whl (1.7 kB)
Requirement already satisfied: comtypes in c:\users\dell\anaconda3\lib\site-packages (from pyttsx3) (1.1.9)
Requirement already satisfied: pywin32 in c:\users\dell\anaconda3\lib\site-packages (from pyttsx3) (227)
Installing collected packages: pypiwin32, pyttsx3
Successfully installed pypiwin32-223 pyttsx3-2.90

WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)

In [260]:
pip uninstall -y illow

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\dell\anaconda3\lib\site-packages)
WARNING: Skipping illow as it is not installed.

In [ ]:
conda install python==3.9.0